.music{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 15px auto;
}
.music img{
    width: 100%;
}
.music span{
    text-align: center;
}

.music-container{
    position: relative;
}

.controller{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    justify-content: space-around;
    align-items: center;
}

.music-container:hover .controller{
    display: flex;
}


.controller svg{
    width: 30px;
    height: 30px;
}

.playing{
    color: #e7b038;
}
.playing-border{
    border: 5px solid #e7b038;
}
.playing-controller{
    display: flex;
}
.no-picture{
    text-align: center;
    text-decoration: none;
    color: white;
    height: 200px;
    width: 200px;
    background-color: rgb(110, 110, 110);
}
@media screen and (min-width: 420px) {
    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .music{
        margin: 15px 15px;
        display: inline-flex;
    }
}