* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    color: #e7b038;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

#footer {
    padding: 15px 0 0 0;
    font-size: 15px;
    margin-top: 30px;
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; */
}

#footer,
#footer a {
    color: #9c9c9c;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: none;
}

#footer p {
    margin: 0;
    padding: 0 0 11px 0;
    line-height: normal;
    text-align: center;
}