.music {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 15px auto;
}
.music img {
  width: 100%;
}
.music span {
  text-align: center;
}

.music-container {
  position: relative;
}

.controller {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: space-around;
  align-items: center;
}

.music-container:hover .controller {
  display: flex;
}

.positioning {
  display: flex;
  justify-content: space-between;
}

.controller svg {
  width: 30px;
  height: 30px;
}

.playing {
  color: #e7b038;
}
.playing-border {
  border: 5px solid #e7b038;
}
.playing-controller {
  display: flex;
}
.btn {
  background: #e7b038;
  padding: 5px;
  border: 0px;
  border-radius: 2px;
  margin: 3px 3px;
  cursor: pointer;
}
.btn-close {
  background: #b30000;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.margin-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.margin-down {
  margin-bottom: 10px;
}
.margin-up {
  margin-top: 10px;
}
.inputtaker {
  padding: 3px;
}
.text-center{
    text-align: center;
}

@media screen and (min-width: 420px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .music {
    margin: 15px 15px;
    display: inline-flex;
  }
}
